.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(255, 207, 102, 0.7);
}

.recovered {
    border-bottom: 10px solid rgba(30, 187, 215, 0.7);
}

.deaths {
    border-bottom: 10px solid rgba(244, 67, 54, 0.7);
}

@media (max-width: 700px) {
    .card {
        margin: 2% 0 !important;
    }
}
