footer {
    position: relative;
    top: calc(100% - 150px);
    left: 0;
    bottom: 0;
    padding: 0;
    margin-top: 1rem;
 
    background-color: red;
    color: white;    
    height: 150px;
    width: 100%;
    

    .footer-container {
        height: 120px;
        width: 100%;
        background: rgb(180, 180, 180);
        color: #000;         
        text-align: center;
        padding-top: 10px;

        span {
            padding: 1rem 2rem 5rem 1rem;
        }
    }

    .footer-social {
        height: 30px;
        width: 100%;
        background: rgb(161, 161, 161);
        color: rgba(#444, 0.6);
        padding-top: 10px;
        text-align: center;
    }
}