body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-app {
    background: rgb(228, 228, 228);
    margin: 0;
    padding: 0, 0, 150px, 0;
}


